// #region general sub-menu properties
.sub-menu {
    z-index: 0;
    background-color: $color-white;
    position: absolute;
    opacity: 0;
    transition: .3s all linear;
    border-bottom: 4px solid $main-color;

    .sub-menu-wrapper {
        padding: 20px 30px;
    }

    a {
        display: inline-block;
        font-size: 14px;
        padding: 8px;
        cursor: pointer;
        transition: .3s all linear;
        min-width: 200px;


        &:hover {
            color: $main-color !important;
        }
    }
}
// #endregion general sub-menu properties


// #region nav-items sub-menu
.home,.pages,.doctor,.departments,.blog,.shop,.element {
    position: relative;

    &:hover .sub-menu {
        z-index: 99;
        opacity: 1;
    }
}
// #endregion nav-items sub-menu

