// #region footer
footer {
    padding-top: 111px;
    background-color: $color-black;

    .footer-top {

        .healthcare {
            .healthcare-text {
                line-height: 2;
                padding-top: 27px;
            }
        }

        .footer-top-col-title {
            color: $color-white;
            margin-bottom: 15px;
            padding-bottom: 15px;
            font-weight: $font-weight;
        }

        li {
            padding-bottom: 5px;
        }

        .contact {
            p {
                font-size: 14px;
                line-height: 2;
            }
        }
    }

    .footer-bottom {
        padding: 20px 0;

        .policy {
            margin-left: 15px;
        }
    }
}

// #endregion footer